* {

    color : 
        #050601,
        #ff8e1c,
        #b4c22f,
        #e9d880,
        #ff8e1c,
        #e9d880,
        #b4c22f,
        #ded1ba,
        #0c0e02,
        #ff860d,
        #c6d534,
        #e9e480,
        #ff860d,
        #e9e480,
        #ff860d,
        #efe1c8
        /* Foreground */
        #ded1ba,;
    background: #050601
}

